.secret {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  object-fit: cover;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

/* Oscurecer los no revelados */
.secret.mine.unrevealed {
  position: relative;
  border: none;
}

/* Pseudo-elemento que actúa como un velo/capa oscurecedora */
.secret.mine.unrevealed::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  z-index: 10;
  pointer-events: none;
}

/* Imagen dentro de la carta */
.secret img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tamaños */
.secret-mini {
  width: 60px;
  height: 90px;
}

.secret-medium {
  width: 76px;
  height: 114px;
}

.secret-large {
  width: 100px;
  height: 150px;
}

.secret.selected {
  /* Borde verde brillante para indicar selección */
  box-shadow: 0 0 10px 4px #00ff00;
  border: 2px solid #00ff00;
  transform: scale(1.05); /* Ligeramente más grande para destacarse */
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.secret.clickable {
  cursor: pointer;
}

/* Opcional: estilo de hover para elementos cliqueables */
.secret.clickable:hover {
  box-shadow: 0 0 5px 2px #ffdd00;
}
