.op-name.selectable {
  cursor: pointer;
}

.op-name.selected {
  text-decoration: underline;
}

.op-hand {
  display: flex;
  gap: 0;
  justify-items: center;
  align-items: center;
  padding: 6px 10px;
  border-radius: 12px;
}

.op-hand .card {
  margin-right: -30px;
  transition: margin 0.2s ease;
}

.op-hand .card:last-child {
  margin-right: 0;
}

.op-secrets {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.op-name {
  color: #fff;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  justify-self: center;
}

.op-name.myturn {
  text-shadow: 0 0 10px rgb(119, 0, 0);
  color: #ffd166;
  text-shadow: 0 0 12px rgba(255, 209, 102, 0.75);
}

.op-sets {
  display: flex;
  flex-direction: row; /* Para asegurar la disposición horizontal */
  justify-content: center; /* Centra los sets horizontalmente */
  align-items: center; /* Alinea los sets verticalmente */
  gap: 8px; /* Espacio entre cada set */
  margin-top: 8px; /* Un poco de espacio para separarlo de los secretos */
}
